<!DOCTYPE html>
<html ng-app="todoApp">
    <head>
        <meta charset="utf-8">
        <title>Angular</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>

        <style media="screen">
            .done-true {
                text-decoration: line-through;
                color: grey;
            }
        </style>
    </head>
    <body>

        <div class="container">
            <h3>Angular</h3>

            <hr>

            <h2>Todo</h2>

               <div ng-controller="TodoListController as todoList">

                     <span>{{todoList.remaining()}} of {{todoList.todos.length}} remaining</span>

                     [ <a href="" ng-click="todoList.archive()">archive</a> ]

                     <ul class="unstyled">
                       <li ng-repeat="todo in todoList.todos">
                         <input type="checkbox" ng-model="todo.done">
                         <span class="done-{{todo.done}}">{{todo.text}}</span>
                       </li>
                     </ul>
                     <form ng-submit="todoList.addTodo()">
                       <input type="text" ng-model="todoList.todoText"  size="30"
                              placeholder="add new todo here">
                       <input class="btn-primary" type="submit" value="add">
                     </form>
                     <!--  -->
               </div>

        </div>



        <script type="text/javascript">


            //todo list
            angular.module('todoApp', [])

              .controller('TodoListController', function() {

                var todoList = this;
                todoList.todos = [
                  {text:'learn angular', done:true},
                  {text:'build an angular app', done:false}
                ];

                todoList.addTodo = function() {
                  todoList.todos.push({text:todoList.todoText, done:false});
                  todoList.todoText = '';
                };

                todoList.remaining = function() {
                  var count = 0;
                  angular.forEach(todoList.todos, function(todo) {
                    count += todo.done ? 0 : 1;
                  });
                  return count;
                };

                todoList.archive = function() {
                  var oldTodos = todoList.todos;
                  todoList.todos = [];
                  angular.forEach(oldTodos, function(todo) {
                    if (!todo.done) todoList.todos.push(todo);
                  });
                };
              });


        </script>

    </body>
</html>
